@model IEnumerable<AspNetWebDemo.Tietokanta.VarastoTilanne>

@{
    ViewData["Title"] = "Varasto";
}

<h1>Varasto</h1>

<p>
    <a asp-action="Varaus">Tee varaus</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQuantity)
            </td>
        </tr>
}
    </tbody>
</table>
